.Register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

.Card {
    /* border: 1px solid black; */
    width: 600px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px -2px #000;
}

.TopMsg {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Tabs {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.Tab {
    width: 50%;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
}

.Form {
    width: 100%;
    padding: 20px;
}

.FormGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.Input {
    outline: none;
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 5px;
}

.Label {
    font-size: 0.8rem;
    margin: 0 0 5px 0;
}

.HaveAccount {
    padding: 0 20px;
}
