.postJobs {
    display: flex;
    justify-content: center;
    margin-top: 10%;
  }

  .postJobs input{
    margin-left:2rem;
  }

  .postJobs select{
    margin-left:2rem;
  }
  
  .postJobs #jobDescription{
    padding-top: 2rem;
  }
  
  .postJobs #jobType{
    padding-top: 2rem;
  }
  
  .postJobs #primaryRole{
    padding-top: 2rem;
  }
  
  .postJobs #location{
    padding-top: 2rem;
  }
  
  .postJobs #jobWebsite{
    padding-top: 2rem;
  }
  
  .postJobs #submit{
    padding-top: 2rem;
  }